@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
  --main: #0e0701;
  --first: #090909;
  --white: #fff;
  --yellow:#ffa500;
  --background-1:#1a1a1a;
  --background-2:#111;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color:rgb(36,35,41); */
  /* background:rgba(0,0,0,0.91); */
  /* background-color: #171717; */
  /* background-color: rgb(114, 114, 114); */

  background-color: var(--background-2);
}
